@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
}

.showcase{
  height: 600px;
  filter: brightness(70%);
  z-index: -1;
  width : 100%
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #008080;
  border-color: #008080;
}

.pagination button.active {
  font-weight: 900;
  border-color: #eee;
  background: #008080;
  color: #eee;
}